	<div class="box panel-default">
		<div class="panel-heading fuel-header-no-padding"><%= link_to (image_tag spot.image(:thumb)), spot, class:"panel-image" %></div>
		<div class="panel-footer fuel-footer emboss">
			<p><%= spot.vehicle %></p>
		</div>
	</div>
