@import "bootstrap-sprockets";
@import "bootstrap";


body {
    /*background-image: url("darkdenim3.png");*/
    color: #8C8C8C;
    background-attachment: fixed;
    font-family: 'Droid Sans', sans-serif;
    background-color: black;
}

@media (min-width: 1230px) {
  .container {
    width: 1240px;
  }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

.container-fluid {
  max-width: 1350px;
}

.navbar-fuel {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
    .navbar-brand {
      font-weight: 700;
      .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: #fff;
        :active, &:focus {
          outline: 0;
        }
      }
    }
    a {
    color: #fff;
    font-weight: bold;
    }
    .nav 
      li {
        .active {
          outline: none;
          background-color: rgba(255,255,255,.3);
        }
        a {
          -webkit-transition: background .3s ease-in-out;
          -moz-transition: background .3s ease-in-out;
          transition: background .3s ease-in-out;
        }
        a:hover, &a:focus, &a.active {
          outline: 0;
          background-color: rgba(255,255,255,.3);
        }
      }
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-fuel.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    min-height: 400px;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url("fuel-background.jpg") no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

.top-margin {
  margin-top: -100px;
}

#spots {
  margin: 0 auto;
  width: 100%;
  .box {
      margin: 5px;
      width: 290px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
      border-radius: 7px;
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
      h2 {
        font-size: 22px;
        margin: 0;
        padding: 25px 10px;
        a {
                color: #474747;
        }
      }
      .user {
        font-size: 12px;
        border-top: 1px solid #EAEAEA;
            padding: 15px;
            margin: 0;
      }
    }
}

#edit_page {
    .current_image {
        img {
            display: block;
            margin: 20px 0;
        }
    }
}

#spot_show {
    .panel-heading {
        padding: 0;
    }
    .spot_image {
        img {
            max-width: 100%;
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    .panel-body {
        padding: 35px;
        h1 {
            margin: 0 0 10px 0;
        }
        .description {
            color: #868686;
            line-height: 1.75;
            margin: 0;
        }
    }
    .panel-footer {
        padding: 20px 35px;
        p {
            margin: 0;
        }
        .user {
            padding-top: 8px;
        }
    }
}

textarea {
    min-height: 250px;
}

/*User Widget Styles*/

#user-widget {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    .list-group-item {
      border:0;
      color: #8F7F70;
      padding: 15px;
      border-left: 3px solid #fff;
    }
    .heading {
      color: #8F7F70;
      background-color: #B1A599;
      border-left: 3px solid #B1A599;
      .text-wrap {
        padding: 20px 0;
      }
    }
    .img-circle {
      height: 90px;
      width: 90px;
      padding: 8px;
      border: 1px solid #9C9084;
      margin-right: 10px;
      float:left;
    }
    .list-group-item-heading {
      font-weight: 600;
      color: #fff;
    }
    a{
      .list-group-item:hover {
        background-color: #F8F3F0;
        color: #64584C;
        border-left: 3px solid #55BC75;
        i.fa {
          color: #E35935;
        }
      }
    }
}



#comments {
    padding-bottom: 4rem;
    .comment_count {
        border-bottom: 1px solid #E9E9E9;
        padding-bottom: .5rem;
        margin-bottom: 0;
    }
    .comment {
        padding: 2rem 0;
        border-bottom: 1px solid #E9E9E9;
        padding-left: 5%;
        .username {
            font-size: 1.3rem;
            color: #333233;
            margin: 0 0 .5rem 0;
        }
        .content {
            margin: 0;
            color: #969696;
        }
    }
    .comment_content {
        margin-top: 2.5rem;
        textarea {
            width: 100%;
            margin: 1rem 0;
            min-height: 150px;
            border: 1px solid #E4E4E4;
            background: #F8F9FA;
            border-radius: 0.3rem;
        }
    }
}

.img-deco {
    margin: auto;
    border: solid grey 1px;
}

.emboss {
    box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 1),
                /*bottom internal shadow*/ inset 0 -1px 0px rgba(255, 255, 255, 0.89);
}


.dark-panel {
    margin-bottom: 20px;
    border-radius: 4px;
}
.panel-default {
  .fuel_heading {
    color: #d0d0d0;
    background-color: #151515;
    border-bottom: solid 1px #353535;
  }
  .fuel-body {
    background: #2a2a2a; /* Old browsers */
    background: -moz-linear-gradient(top, #2a2a2a 0%, #1e1e1c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d39), color-stop(100%,#1e1e1c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2a2a2a 0%,#1e1e1c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2a2a2a 0%,#1e1e1c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2a2a2a 0%,#1e1e1c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2a2a2a 0%,#1e1e1c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a2a', endColorstr='#1e1e1c',GradientType=0 ); /* IE6-9 */
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .fuel-header-no-padding {
    padding: 0;
    border: solid 1px black;
  }
  .fuel-footer {
    color: #d0d0d0;
    background-color: #151515;
    border-color: #0b0b0b;
  }
}

.dark-list {
    background-color: #21211F;
    border: 1px solid #151515;
}

.dark-list-heading {
    color: #d0d0d0;
    background-color: #151515;
}

.profile {
  margin-left: 175px;
}

.user-box {
    margin-top: 20px;
    background-color: #151515;
    border: none;
}


.dp-box-image {
  max-height: 150px;
  max-width: 215px;
  width: auto;
  background: #151515;
  margin-top: -30px;
  padding: 10px;
  border-radius: 50%;
  float: left;
}

.panel-image {
  img {
    width:100%;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
}


#spotz {
  margin: 0 auto;
  width: 100%;
  .box {
    width: 200px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
  }
}

.list-group {
  .list-top {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
  }
}

  .front {
      p {
        margin: auto;
        margin-top: 8px;
        }
    }

.fuel-button {
    color: #A5A5A5;
    background-color: #1D1C1C;
    border: 0;
    &:hover{
      background-color: #1D1C1C;
      box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 1),
                /*bottom internal shadow*/ inset 0 -1px 0px rgba(255, 255, 255, 0.89);
    }
    &:active{
      background-color: #1D1C1C;
      box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 1),
                /*bottom internal shadow*/ inset 0 -1px 0px rgba(255, 255, 255, 0.89);
    }
}

.fuel-search {
  border-radius: 17px;
  background-color: #3D3D3D;
  border: solid 1px black
}

.fuel-search-btn {
  border-radius: 17px;
  background-color: #3D3D3D;
  border: solid 1px black;
  color: #959595;
  &:hover{
      background-color: #1D1C1C;
      box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 1),
                /*bottom internal shadow*/ inset 0 -1px 0px rgba(255, 255, 255, 0.89);
      border: solid 1px black;
      color: #959595;
    }
}



.light {
    font-weight: 400;
}