<div id="profile-widget" class="panel">
   <div class="panel-heading">
   </div>
   <div class="panel-body">
      <div class="media">
         <%= image_tag(@spot.user.avatar.url(:thumb), class: "img-circle img-responsive img-deco") %>
         <!-- <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/flashmurphy/128.jpg"> -->
         <div class="media-body">
         </br>
            <h2 class="media-heading" style="text-align:center"><%= link_to @spot.user.username, @spot.user %></h2>
         </div>
      </div>
   </div>
   <div class="panel-footer">
      <div class="btn-group btn-group-justified">
         <a class="btn btn-default" role="button"><i class="fa fa-eye"></i> <%= @spot.user.spots.size %></a>
         <a class="btn btn-default" role="button"><i class="fa fa-comment"></i> 34</a>
         <a class="btn btn-default highlight" role="button"><i class="fa fa-heart"></i> 210</a>
      </div>
   </div>
</div>